# text
nltk==3.4.5
# progress bars
tqdm==4.32.1
# numbers
numpy==1.16.3
pandas==0.24.2
sympy==1.4
# modelling
torch==1.1.0
transformers==2.3.0
seqeval==0.0.12
spacy==2.2.2
stanfordnlp==0.2.0
# downloading model
google-cloud-storage==1.29.0
# testing
pytest==4.2.0